.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #F4F6F5;
}

.nav {
    display: flex;
}

.content {
    flex: 1;
    overflow-y: scroll;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}